.news-list-item {
  display: flex;
  position: relative;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}

.news-list-item img {
  margin-right: 20px;
}

.news-list-item i {
  position: absolute;
  right: 5px;
  top: 5px;
}
