.dishes-list {
  height: 90%;
  overflow-y: auto !important;
  border-left: 1px solid gray;
}

.list-item {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px solid #ddd;
  align-items: flex-start !important;
}

.list-item  h2 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.list-item  img {
  width: 152px;
  border-radius: 10px;
  border: 1px solid gray;
}

.list-item  div {
  margin-left: 10px;
  width: 100%;
}

.list-item  p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
