#menu-layout {
  display: flex;
  height: 100%;
}

#menu-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 50%
}

#menu-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
